<h2>Current Macros</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Carbs</th>
        <th scope="col">Protein</th>
        <th scope="col">Fats</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{current.carbs }}</td>
        <td>{{current.protein }}</td>
        <td>{{current.fat }}</td>
      </tr>
    </tbody>
  </table>
<div></div>
<h2>Macros Remaining</h2>

<h2>Meals consumed</h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Carbs</th>
        <th scope="col">Protein</th>
        <th scope="col">Fats</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{remaining.carbs }}</td>
        <td>{{remaining.protein }}</td>
        <td>{{remaining.fat }}</td>
      </tr>
    </tbody>
  </table>